<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="lib/popper.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
</head>
<body>
    
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Website Name</a>
    <div class="dropdown">
  <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Workspace
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/userid/info">Personal info</a>
    <a class="dropdown-item" href="/userid/favourite">Favourite</a>
    <a class="dropdown-item" href="/userid/courses">Courses</a>
  </div>
</div>
</nav>
    <h1>Cources and progress</h1>

</body>
</html>
