<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Home page</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="{% static 'study/lib/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'study/lib/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'study/lib/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'study/styles/bootstrap.min.css' %}">
</head>
<body>
    
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="">Website Name</a>
    <div class="dropdown">
  <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Workspace
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/user/info/">Personal info</a>
    <a class="dropdown-item" href="/user/favourite/">Favourite</a>
    <a class="dropdown-item" href="/user/courses/">Courses</a>
  </div>
</div>

</nav>