{% include "study/header.html" %}
    
<div class="container">

    <h1> {{ subsection.name }} </h1>

	<div class="accordion" id="accordionExample">

    {% for theme in subsection.themes.all %}

  	  <div class="card">
  	    <div class="card-header" id="headingOne">
  	      <h5 class="mb-0">
  		<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
  		  {{ theme.name }}
  		</button>
  	      </h5>
  	    </div>
  	    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
  	      <div class="card-body">
  		      <a href="/theme/{{ theme.pk }}/">{{ theme.name }}</a>
  	      </div>
  	    </div>
  	  </div>

    {% endfor %}

	</div>

</div>

</body>
</html>
